h1, h2, h3, h4, h5, p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.card {
  background-color: #404040;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  color: #a0a0a0;
  margin: 10px;
  padding: 15px;
  position: relative;
  min-height: 100px;
  text-align: left;

  h2 {
    margin-bottom: 10px;
  }
}

.icon-btn {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}
.App {
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100vw;

  .left-rail {
    background-color: #202020;
    flex-shrink: 0;
    position: relative;
    width: 300px;
  }
}

.card-list {
  height: 100%;
  overflow-y: scroll;
}

.map {
  display: flex;
  flex-grow: 1;
  
  #deckgl-wrapper {
    height: 100%;
    width: 100%;
  }
}

.add-day-btn,
.add-place-btn {
  background-color: #B01455;
  border-radius: 100%;
  border: none;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
  color: #FFF;
  cursor: pointer;
  height: 40px;
  font-size: 2em;
  width: 40px;
  position: absolute;
  bottom: 10px;
  right: 30px;
}

.add-place-btn {
  background-color: #F88FB0;
  height: 30px;
  width: 30px;
  font-size: 1.5em;
}